<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests" /><!-- To "avoid" problem from a secure website to a non-secure -->
        <title>Bookmarks Page</title>
        <link href="styles/style.css" rel="stylesheet" type="text/css" />
        <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    </head>
    <body>
        Bookmarks
        <footer>
            This page exists for academic purposes only, but is fully functional and you can look up any movies you like, thanks to the <br /><a href="http://www.omdbapi.com" style="color:green;"><strong>Open Movie Database</strong></a><br />
            Powered by <a href="http://jquery.com/" style="color:green">jQuery</a> and <a href="https://lodash.com/" style="color:green;">Lodash</a>
        </footer>
        <!-- Scripts -->
        <script src="scripts/jquery.js"></script>
        <script src="scripts/bookmarks.js"></script>
    </body>
</html>