<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests" /><!-- To "avoid" problem from a secure website to a non-secure -->
        <title>Login Page</title>
        <link href="styles/style.css" rel="stylesheet" type="text/css" />
        <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    </head>
    <body>
        <div id="message-container"></div>
        <!-- Login Form -->
        <div id="login-container">
            <h3>Login</h3>
            <form id="login-form">
                <label for="login-email">Email</label>
                <input type="text" id="login-email" name="login-email" placeholder="Your Email" /><br />
                <label for="login-password">Password</label>
                <input type="password" id="login-password" name="login-password" placeholder="Your Password" /><br />
                <input type="submit" id="login-button" value="Login" />
            </form>
            <div id="login-error"></div>
            <a href="/?register=true">Register</a>
        </div>
        <!-- Register Form -->
        <div id="register-container" class="hidden">
            <h3>Register</h3>
            <form id="register-form">
                <label for="register-name">Name</label>
                <input type="text" id="register-name" name="register-name" placeholder="Your Name" /><br />
                <label for="register-email">Email</label>
                <input type="text" id="register-email" name="register-email" placeholder="Your Email" /><br />
                <label for="register-password">Password</label>
                <input type="password" id="register-password" name="register-password" placeholder="Password" /><br />
                <label for="register-confirm-password">Confirm Password</label>
                <input type="password" id="register-confirm-password" name="register-confirm-password" placeholder="Confirm Password" /><br />
                <input type="submit" id="register-button" value="Register" />
            </form>
            <div id="register-error"></div>
        </div>
        <footer>
            This page exists for academic purposes only, but is fully functional and you can look up any movies you like, thanks to the <br /><a href="http://www.omdbapi.com" style="color:green;"><strong>Open Movie Database</strong></a><br />
            Powered by <a href="http://jquery.com/" style="color:green">jQuery</a> and <a href="https://lodash.com/" style="color:green;">Lodash</a>
        </footer>
        <!-- Scripts -->
        <script src="scripts/jquery.js"></script>
        <script src="scripts/common.js"></script>
        <script src="scripts/index.js"></script>
    </body>
</html>
